:host {
  height: 100vh;
  .contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    img {
      width: calc(100vw - 8px);
      padding-bottom: 4px;
    }
  }

  h1 {
    text-align: center;
  }
}
