<app-love-spinner [states]=states [spinnerPath]=spinnerPath></app-love-spinner>
<div class="result-view-container">
  <div class="result-view-congratulations">
    <h1>{{ 'результат' | uppercase}}</h1>
    <p>99% карликов считают, что свиданка получилась идеальной. 1% карликов - идиоты. Поздравляем, Ваша свиданка удалась.🎉🎉🎉 Не останавливайтесь на достигнутом, и главное - не расслабляйтесь.☝ Удачи!</p>
  </div>

  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button mat-raised-button color="primary" [routerLink]="['/contacts']">требовать продолжения?</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<img [src]="fireWorkPath"/>
