:host {
  h1 {
    text-align: center;
  }

  p {
    word-wrap: break-word;
  }

  img {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
  }
  .result-view-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .result-view-congratulations {
    padding: 24px;
  }

  mat-toolbar {
    background-color: transparent;
    justify-content: center;
    padding-bottom: 15px;
    z-index: 1;
    mat-toolbar-row {
      justify-content: center;
    }
  }
}
