<div class="love-spinner" *ngIf="visible">
  <div class="love-spinner-container">
    <img class="love-spinner-img" [src]="spinnerPath"/>
    <span class="love-spinner-text">{{ (state | async) }}</span>
  </div>
</div>
