:host {
  .love-spinner {
    font-family: 'amatic-bold', cursive;
    position: absolute;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdb3a;
  box-shadow:inset 0px 0px 0px 4px rgb(35, 156, 220);
  }

  .love-spinner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .love-spinner-img {
      max-width: 100px;
    }

    .love-spinner-text {
      font-size: 20px;
      color: #fc636b;
      bottom: 0;
    }
  }
}
