@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'amatic-reg, cursive',
  $body-1: mat-typography-level(28px, 1vw, 400),
  $body-2: mat-typography-level(28px, 1vw, 400),
  $button: mat-typography-level(24px, 1vw, 400),
);

@include mat-core($custom-typography);

$alternate-primary: mat-palette($mat-light-blue);
$alternate-accent:  mat-palette($mat-pink, 500, 900, A100);

$alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

@include angular-material-theme($alternate-theme);

@font-face {
  font-family: "amatic-reg";
  src: url("assets/fonts/AmaticSC-Regular.ttf")
}

@font-face {
  font-family: "amatic-bold";
  src: url("assets/fonts/AmaticSC-Bold.ttf")
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #ffdb3a;
  font-family: 'amatic-reg', cursive;
  overflow: auto;
}

body {
  box-shadow:inset 0px 0px 0px 4px rgb(35, 156, 220);
  h1 {
    color: #239cdc !important
  }
}
