:host {
  height: 100vh;
  width: 100vw;
  app-love-spinner {
    height: 100vh;
    width: 100vw;
  }
  .dating-form-container {
    height: 100vh;
    width: 100vw;
  }

  .like-form-container {
    padding-top: 15px;
  }

  ::ng-deep mat-vertical-stepper {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    .mat-step-header {
      height: auto;
    }

    .mat-step-label {
      text-align: left;
    }

    .mat-form-field {
      width: 100%;
      padding-bottom: 15px;
    }

    p {
      word-wrap: break-word;
    }

    span.star {
      height: 10vh !important;
      width: 10vw !important;
      max-width: 50px;
      max-height: 50px;
      &[class*="ngx-stars-star-empty-"] {
        background-color: #fc636b !important;
      }

      &[class*="ngx-stars-star-full-"] {
        background-color: rgb(35, 156, 220) !important;
      }
    }

    mat-radio-button {
      padding-bottom: 15px;
      &:first-child {
        padding-right: 15px;
      }
    }

    .mat-step-icon {
      background-color: rgb(35, 156, 220);
    }

    .mat-form-field-wrapper {
      font-size: 1.25em;
    }
  }
}
