<app-love-spinner [states]=states [spinnerPath]=spinnerPath></app-love-spinner>
<div class="dating-form-container">
  <mat-vertical-stepper #stepper
    [linear]=true>

    <mat-step [stepControl]="girlFormGroup">
      <form [formGroup]="girlFormGroup">
        <ng-template matStepLabel>самка</ng-template>
        <mat-form-field>
          <input matInput placeholder="имя прекрасной незнакомки" formControlName="nameCtrl" required>
        </mat-form-field>
        <div>
          <button [disabled]=girlFormGroup.invalid mat-button mat-raised-button matStepperNext color="primary">отдаю себе отчёт</button>
        </div>
      </form>
      <p></p>
    </mat-step>

    <mat-step [stepControl]="boyFormGroup">
      <form [formGroup]="boyFormGroup">
        <ng-template matStepLabel>самец</ng-template>
        <mat-form-field>
          <input matInput placeholder="имя знатного грача" formControlName="nameCtrl" required>
          <mat-error *ngIf="boyFormGroup.invalid">ну нет же</mat-error>
        </mat-form-field>
        <div>
          <button [disabled]=boyFormGroup.invalid mat-button mat-raised-button matStepperNext color="primary">отдаю себе отчёт</button>
        </div>
      </form>
    </mat-step>

    <mat-step [completed]="programStars === 5">
      <ng-template matStepLabel>программа</ng-template>
      <ngx-stars
        [maxStars]=5
        [initialStars]=programStars
        [wholeStars]=true
        [readonly]=false
        [customStarIcons]="ratingIcons"
        (ratingOutput)="onCultureRatingSet($event)">
      </ngx-stars>
      <button [disabled]="programStars !== 5" mat-button mat-raised-button matStepperNext color="primary">отдаю себе отчёт</button>

    </mat-step>

    <mat-step [completed]="partnerStars === 5">
      <ng-template matStepLabel>партнер</ng-template>
      <ngx-stars
        [maxStars]=5
        [initialStars]=partnerStars
        [wholeStars]=true
        [readonly]=true
        [customStarIcons]="ratingIcons"
        (ratingOutput)="onPartnerRatingSet($event)">
      </ngx-stars>
      <button
        mat-button
        mat-raised-button
        matStepperNext
        color="primary">
          отдаю себе отчёт
      </button>
    </mat-step>

    <mat-step [stepControl]="likeFormGroup">
      <form class="like-form-container" [formGroup]="likeFormGroup">
        <ng-template matStepLabel>атмосфера</ng-template>
        <mat-radio-group name="like" required formControlName="likeRadioCtrl">
          <mat-radio-button value="yes" required>я посыпалась(ся)</mat-radio-button>
          <mat-radio-button value="no" required>я посыпалась(ся)</mat-radio-button>
        </mat-radio-group>
        <div>
          <button
            mat-button
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]=likeFormGroup.invalid>
              отдаю себе отчёт
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>анализ</ng-template>
      <button
        mat-button
        mat-raised-button
        matStepperNext
        color="accent"
        [routerLink]="['/results']"
        [disabled]=!valid>
          активизировать карликов
      </button>
    </mat-step>

  </mat-vertical-stepper>
</div>
